body {
  background: black;
  color: white;
}

input,
label {
  color: teal;
}

.user-card {
  height: auto;
  padding: 2%;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid teal;
  margin: 5px;
}

.male {
  border: 2px solid greenyellow;
}
.female {
  border: 2px solid pink;
}

.card {
  box-shadow: 5px 5px 8px #1e1d1e, -5px -5px 8px #484748;
  cursor: pointer;
  margin: 0 auto 1rem;
}

.btn {
  margin-top: 1rem;
}

.bg-dark {
  background: black;
  padding: 10px;
}
